name: Release

on:
  push:
    tags:
      - "v*"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build & Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libdbus-1-dev pkg-config

      - name: Build
        run: cargo build --release

      - name: Prepare Binary
        run: |
          mv target/release/linux-mcp .
          tar -czvf linux-mcp-x86_64-unknown-linux-gnu.tar.gz linux-mcp

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            linux-mcp
            linux-mcp-x86_64-unknown-linux-gnu.tar.gz
